/* Diamo un pò d'aria ai contenuti */



.my-header {
    height: 50px;
    padding: 10px;

    display: flex;
    justify-content: space-between;
    align-items: center;

    background-color: orange;
}

button {
    cursor: pointer;
}

figure {
    margin: 0;
    cursor: pointer;
}

/* Facciamo sì che l'immagine rientri perfettamente all'interno
del blocco contenitore */

img {
    width: 100%;
    height: 100%;
}

/* Definiamo le grandezze del carosello e della thumbnails */

#carousel {
    height: calc(75vh - 50px);
    position: relative;

    position: relative;
}

#thumbnails {
    height: calc(25vh - 50px);

    display: flex;
    flex-basis: calc(100% / 5);
}

/* Definiamo l'area dove sarà la descrizione */

.description {
    position: absolute;
    top: 5%;
    right: 5%;

    font-size: 1rem;
    color: white;
    text-align: right;
    width: 40%;

}

/* Scroll laterale */

#left-scroll,
#right-scroll {
    position: absolute;
    height: 100%;

    padding: 0 5px;

    display: flex;
    align-items: center;

    background-color: #dedede;
    filter: opacity(0.5);
}

#left-scroll {
    top: 0;
    left: 0;
    bottom: 0;
}

#right-scroll {
    top: 0;
    right: 0;
    bottom: 0;
}

/* Filtro thumbnails image */

.not-active-image-thumb {
    filter: grayscale(0.8);
    border: 2px solid transparent;
}

.active-image-thumb {
    filter: grayscale(0);
    border: 2px solid white;
}

.active {
    display: block;
}